@import "fonts";
@import "vars";

.kartina-mira {
  position: relative;
  min-height: 100vh;
  background-color: #111117;
  color: #fff;

  // layout
  @import "layout/navbar";
  @import "layout/footer";

  // pages
  @import "01-index-page";
  @import "02-about-page";




}
